// WinPublicIP resources
// Note: no #include <windows.h> — avoids macro collisions with resource names

// Shield and status icons
WPI_SHIELD_ON    RCDATA  "resources/shield_on.png"
WPI_SHIELD_OFF   RCDATA  "resources/shield_off.png"
WPI_OFFLINE      RCDATA  "resources/offline.png"

// Country flags (ISO 3166-1 alpha-2, uppercase)
FLAG_AE		RCDATA		"resources/Flags/ae.png"
FLAG_AM		RCDATA		"resources/Flags/am.png"
FLAG_AR		RCDATA		"resources/Flags/ar.png"
FLAG_AT		RCDATA		"resources/Flags/at.png"
FLAG_AU		RCDATA		"resources/Flags/au.png"
FLAG_AZ		RCDATA		"resources/Flags/az.png"
FLAG_BG		RCDATA		"resources/Flags/bg.png"
FLAG_BR		RCDATA		"resources/Flags/br.png"
FLAG_BY		RCDATA		"resources/Flags/by.png"
FLAG_CA		RCDATA		"resources/Flags/ca.png"
FLAG_CH		RCDATA		"resources/Flags/ch.png"
FLAG_CL		RCDATA		"resources/Flags/cl.png"
FLAG_CN		RCDATA		"resources/Flags/cn.png"
FLAG_CO		RCDATA		"resources/Flags/co.png"
FLAG_CZ		RCDATA		"resources/Flags/cz.png"
FLAG_DE		RCDATA		"resources/Flags/de.png"
FLAG_DK		RCDATA		"resources/Flags/dk.png"
FLAG_EE		RCDATA		"resources/Flags/ee.png"
FLAG_EG		RCDATA		"resources/Flags/eg.png"
FLAG_ES		RCDATA		"resources/Flags/es.png"
FLAG_FI		RCDATA		"resources/Flags/fi.png"
FLAG_FR		RCDATA		"resources/Flags/fr.png"
FLAG_GB		RCDATA		"resources/Flags/gb.png"
FLAG_GE		RCDATA		"resources/Flags/ge.png"
FLAG_HR		RCDATA		"resources/Flags/hr.png"
FLAG_HU		RCDATA		"resources/Flags/hu.png"
FLAG_ID		RCDATA		"resources/Flags/id.png"
FLAG_IL		RCDATA		"resources/Flags/il.png"
FLAG_IN		RCDATA		"resources/Flags/in.png"
FLAG_IR		RCDATA		"resources/Flags/ir.png"
FLAG_IT		RCDATA		"resources/Flags/it.png"
FLAG_JP		RCDATA		"resources/Flags/jp.png"
FLAG_KE		RCDATA		"resources/Flags/ke.png"
FLAG_KR		RCDATA		"resources/Flags/kr.png"
FLAG_KZ		RCDATA		"resources/Flags/kz.png"
FLAG_LT		RCDATA		"resources/Flags/lt.png"
FLAG_LV		RCDATA		"resources/Flags/lv.png"
FLAG_MX		RCDATA		"resources/Flags/mx.png"
FLAG_MY		RCDATA		"resources/Flags/my.png"
FLAG_NG		RCDATA		"resources/Flags/ng.png"
FLAG_NL		RCDATA		"resources/Flags/nl.png"
FLAG_NO		RCDATA		"resources/Flags/no.png"
FLAG_PH		RCDATA		"resources/Flags/ph.png"
FLAG_PL		RCDATA		"resources/Flags/pl.png"
FLAG_PT		RCDATA		"resources/Flags/pt.png"
FLAG_RO		RCDATA		"resources/Flags/ro.png"
FLAG_RS		RCDATA		"resources/Flags/rs.png"
FLAG_RU		RCDATA		"resources/Flags/ru.png"
FLAG_SA		RCDATA		"resources/Flags/sa.png"
FLAG_SE		RCDATA		"resources/Flags/se.png"
FLAG_SG		RCDATA		"resources/Flags/sg.png"
FLAG_SI		RCDATA		"resources/Flags/si.png"
FLAG_SK		RCDATA		"resources/Flags/sk.png"
FLAG_TH		RCDATA		"resources/Flags/th.png"
FLAG_TR		RCDATA		"resources/Flags/tr.png"
FLAG_UA		RCDATA		"resources/Flags/ua.png"
FLAG_US		RCDATA		"resources/Flags/us.png"
FLAG_VE		RCDATA		"resources/Flags/ve.png"
FLAG_VN		RCDATA		"resources/Flags/vn.png"
FLAG_XX		RCDATA		"resources/Flags/xx.png"
FLAG_ZA		RCDATA		"resources/Flags/za.png"
